body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.Navigation {
  margin-bottom: 1rem;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
}

.Navigation a {
  display: block;
  padding: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.jeopardy__container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 80%;
}

.user__score {
  transition: all ease 0.3s;
}

@keyframes incorrect {
  0% {color: red;}
  100% {color: black;}
}

@keyframes correct {
  0% {color: green;}
  100% {color: black;}
}

.categories__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}

.categories__buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.category__button {
  flex-grow: 3;
  padding: 0.5rem 0;
}


.category, .question {
  text-align: center;
  margin: 4rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer__button {
  margin: .5rem 0;
}
