body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  color: white;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
}

.Navigation {
  margin-bottom: 1rem;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
}

.Navigation a {
  display: block;
  padding: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.game__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
}

.game__start h1 {
  margin: 0;
  animation: fadeIn 3s;
}

.jeopardy__banner {
  font-size: 5rem;
}

.game__start button {
  margin-top: 5rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  transition: all ease 0.3s;
}

.game__start button:hover {
  transform: scale(1.5);
  background: #4343b5;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.jeopardy__container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 80%;
}

button {
  border: none;
  border-radius: 0.3rem;
  outline: none;
}

.score__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

/* .score h3 {
  display: inline;
} */

.current__score {
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

.user__score {
  /* transition: all ease 0.3s; */
  font-size: 3.3rem;
  position: relative;
  top: 0.6rem;
  margin-left: 0.5rem;
  border-bottom: none;
  color: rgb(219, 219, 98);
}

.reset__button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background: #2a2a72;
  color: white;
  transition: all ease 0.2s;
  width: 20%;
  min-width: 110px;
  max-width: 125px;
}

.reset__button:hover {
  background: #e36883;
  transform: scale(1.1);
}

.categories__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}

.categories__buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.category__button {
  /* flex-grow: 1; */
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1%;
  width: 30%;
  color: white;
  background-color: #4343b5;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  transition: all ease 0.2s;
  border: 1px white solid;
}

.category__button:hover {
  background: rgb(219, 219, 98);
  color: black;
  transform: scale(1.1);
  border: none;
}

.category,
.question {
  text-align: center;
  margin: 4rem 0;
}

.question__div {
  padding: 0 2rem;
}

.question__background {
  background: rgba(194, 63, 63, 0.164);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__answer {
  margin: 2rem 0;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}

.user__answer:focus {
  outline: none;
  opacity: 1;
  transform: scale(2);
  transition: all ease 0.3s;
}

.answer__button {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all ease 0.1s;
}

.answer__button:hover {
  background: #00af3b;
  color: white;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .score__div {
    align-items: center;
  }

  .reset__button {
    width: 45%;
    min-width: 110px;
  }
  .categories__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category__button {
    width: 100%;
    margin-bottom: 1rem;
  }

  .question__div {
    text-align: center;
  }
}

@keyframes incorrect {
  0% {
    color: red;
  }
  100% {
    color: rgb(219, 219, 98);
  }
}

@keyframes correct {
  0% {
    color: green;
  }
  100% {
    color: rgb(219, 219, 98);
  }
}
